<div class="sidebar">
<div class="a-o-i-t">
    Angular Otp Input
</div>
<ul class="list">
    <li>
        <input type="checkbox" name="number-only" id="number-only" [(ngModel)]="config.allowNumbersOnly" (change)="onConfigChange()">
        <span class="s-t">Allow number only</span>
    </li>
    <li>
        <span class="s-t">Number of inputs</span>
        <input type="number" name="input-length" class="f-c" [(ngModel)]="config.length" min="1" max="10" (ngModelChange)="onConfigChange()">
    </li>
</ul>
</div>
<div class="content">
    <div class="o-c">
        <div>
            <div class="card">
                <p class="a-o-i">Enter verification code</p>
                <ng-otp-input (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
                <span *ngIf="otp" class="o-t-p">Entered otp :-{{otp}}</span>
            </div>
        </div>
    </div>
</div>
