<div class="sidebar">
  <div class="a-o-i-t">
    Angular Otp Input
  </div>
  <ul class="list">
    <li>
      <input type="checkbox" name="number-only" id="number-only" [(ngModel)]="config.allowNumbersOnly"
        (change)="onConfigChange()">
      <span class="s-t">Allow number only</span>
    </li>
    <li>
      <input type="checkbox" name="pass-input" id="pass-input" [(ngModel)]="config.isPasswordInput"
        (change)="onConfigChange()">
      <span class="s-t">Password input</span>
    </li>
    <li>
      <input type="checkbox" name="disable-focus" id="disable-focus" [(ngModel)]="config.disableAutoFocus"
        (change)="onConfigChange()">
      <span class="s-t">Disable auto focus</span>
    </li>
    <li>
      <span class="s-t">Number of inputs</span>
      <input type="number" name="input-length" class="f-c" [(ngModel)]="config.length" min="1" max="10"
        (ngModelChange)="onConfigChange()">
    </li>
    <li>
      <span class="s-t">Placeholder</span>
      <input type="text" name="input-placeholder" [(ngModel)]="config.placeholder" class="f-c" maxlength="1"  (change)="onConfigChange()">
    </li>
    <li>
      <span class="s-t">Update value to</span>
      <input type="text" #valInput name="input-update-val" placeholder="Focus out to change" (change)="setVal(valInput.value)" class="f-c" min="1" max="10">
    </li>
  </ul>
</div>
<div class="content">
  <div class="o-c">
    <div>
      <div class="card">
        <p class="a-o-i">Enter verification code</p>
        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
        <span *ngIf="otp" class="o-t-p">Entered otp :-{{otp}}</span>
      </div>
    </div>
  </div>
</div>


