.a-o-i{
    font-size: 30px;
    font-weight: 600;
    margin-top: 0;
}

.o-c{
    text-align: center;
    display: flex;
    display: -webkit-flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card{
    padding: 2rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    border-radius: 4px;
    background: white;
    margin: 0 auto;
}

.o-t-p{
    display: block;
    margin-top: 10px;
    font-size: 19px;
}